<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.css" />
    <title>shortnex</title>
</head>

<body>
<div id="main-content" class="main">
    <p class="title">shortnex</p>
    <input placeholder="https://example.org/" id="urlinput"/>
    <button class="button" onclick="shorten()">shorten</button>
</div>
<footer class="footer">
    <p>made by <a class="link" href="https://github.com/lordjbs">jbs</a></p>
</footer>

<script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.js"></script>
<script>
    window.addEventListener("load", function() {
        window.cookieconsent.initialise({
            "palette": {
                "popup": {
                    "background": "#efefef",
                    "text": "#404040"
                },
                "button": {
                    "background": "#66bb6a",
                    "text": "#ffffff"
                }
            },
            "theme": "edgeless",
            "position": "bottom-right"
        })
    });
</script>

<script src="/static/main.js"></script>
</body>

</html>